html {
    background-color:azure;
}    

#palavra{
    color: red;
}

#titulo {
    text-align: center;
    font-size: 20px;
    border: solid 5px ;
    border-radius: 10px;
}

#paragrafo1 {
    position: absolute;
    left: 30%;
    top: 7%;
}

#imagem1 {
    position: absolute;
    top: 9%;
    left: 2%;
}

#linkhome {
    position: absolute;
    top:2%;
    left: 4.5%;
}

#links {
    position: absolute;
    top:2%;
    left: 10%;
}

#links1 {
    position: absolute;
    top:2%;
    left: 20.5%;
}

#links2 {
    position: absolute;
    top:2%;
    left: 30.5% ;
}

#links3 {
    position: absolute;
    top:2%;
    right: 32.5% ;
}

#links4 {
    position: absolute;
    top:2%;
    right: 21%;
} 

#links5 {
    position: absolute;
    top:2%;
    right: 2%;
}

#fonte {
    position: absolute;
    bottom: 2%;
    left:2% ;
}